// FONTS -----------------------------

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

// $main: 'IBM Plex Sans', sans-serif;
$main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
  Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
// $main: 'Poppins', monospace;

// EASINGS -------------------------------

$out_med: cubic-bezier(0.165, 0.84, 0.44, 1);
$out_ex: cubic-bezier(0.19, 1, 0.22, 1);
$inout_med: cubic-bezier(0.645, 0.045, 0.355, 1);
$out_bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$inout_bounce: cubic-bezier(0.68, 0, 0.265, 1.9);
$in_med: cubic-bezier(0.895, 0.03, 0.685, 0.22);

$white: #fff;
$off_white: #fff;
$grey: #2f313722;
$grey_dark: #26272c;
// $prim: #FC6471;
$prim: #2f3137;
$black: #2f3137;
