html {
  font-size: 16px;
}

body {
  position: relative;
  font-family: $main;
  margin: 0;
  padding: 0;
  background: $off_white;
  color: $black;
}



*, ::after, ::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

hr {
  background: transparentize($black, .75);
  border: none;
  display: block;
  height: 1px;
  width: 100%;
}