html {
  font-size: 14pt;
}

body {
  position: relative;
  font-family: $main;
  margin: 0;
  padding: 0;
  background: $off_white;
  color: $black;
}



*, ::after, ::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}