.underline {
    &:after {
        content: '';
        position: absolute;
        bottom: 1.25rem;
        left: 0;
        height: .1rem;
        width: 2.2rem;
        background: transparentize($grey, .9);
    }
}

.fat-underline {
    &:after {
        content: '';
        background: transparentize($secondary, .35);
        font-weight: 800;
        z-index: -1;
        position: absolute;
        bottom: -.1rem;
        left: 0;
        width: 0%;
        height: 2px;
        transition: width 550ms $ease_in 250ms;
    }
    &.is-in-view {
        &:after {
            width: 100%;
        }
    }
}

.generic-type-transition {
    transition: filter 170ms $ease_in 100ms,
                transform 360ms $ease_in 150ms,
                opacity 360ms $ease;
}