@mixin button($background: $black, $color: $white) {
  display: inline-flex;
  padding: .5rem 1rem;
  border-radius: .25rem;
  background-color: $background;
  color: $color;
  font-family: $main;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 300ms $inout_med;

  &:hover {
    background-color: darken($background, 5%);
  }
}

[class*="button"] {
  @include button;
}