@mixin button($background: $black, $color: $white) {
  display: inline-flex;
  padding: .5rem .75rem;
  border-radius: .25rem;
  background-color: $background;
  color: $color;
  font-family: $main;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 300ms $inout_med;
  font-size: .8rem;

  &:hover {
    background-color: darken($background, 5%);
  }
}

[class*="button"] {
  @include button;
}

em {
  background: $black;
  color: $white;
  font-style: normal;
  text-transform: capitalize;
  font-weight: 600;
  padding: .1rem .3rem;
}