.page-grid {
  display: grid;
  grid-template-columns: 22.5rem 1fr;
  max-width: 1024px;
  margin: 0 auto;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.sticky-content {
  // position: sticky;
  top: 0;
  width: 100%;
}

.content {
  position: relative;
  margin: 0 auto;
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portrait {
  max-width: 12rem;
  margin: 0 auto 2rem;
  border-radius: 50%;
  background: transparentize($black, .8);
  filter: brightness(120%);
}

.header {
  &-icons {
    display: flex;
    list-style-type: none;
    margin: 1rem auto;
    padding: 0;

    li {
      margin: 0 .5rem;
      font-size: 1rem;

      a {
        color: inherit;
      }
    }
  }
}

.about {
  padding: 0;
  text-align: center; 
  width: 100%;

  h2 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
  }

  &-details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    margin: .25 auto;
    .block {
      display: flex;
      align-items: flex-start;
      // border-bottom: 1px solid transparentize($black, .75);
      background: $white;
    }

    a {
      color: inherit;
    }

    span {
      font-family: $main;
      color: $black;
      font-weight: 300;
      text-transform: lowercase;
      font-size: .7rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      letter-spacing: 1px;
      margin-bottom: 1rem;

      i {
        font-size: .85rem;
        margin-bottom: .25rem;
      }
    }

    p {
      margin: 0 0 0 auto;
      justify-self: flex-end;
      text-align: right;
      max-width: 12rem;
      font-size: .85rem;
    }

  }
}

.career, .education {
  .lead {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin-bottom: -1rem;
    max-width: 100%;

    &-line {
      height: 1px;
      width: 1fr;
      background: transparentize($black, .75);
      margin: 0 .5rem;
    }
  }

  h2 {
    color: $black;
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  h4, h3 {
    font-size: .8rem;
    font-weight: 400;
    color: $black;
    text-transform: uppercase;
  }

  h4 {
    font-weight: 200;
  }

  &-blocks {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;

    .block {
      padding: 1.5rem 0;
    }
  }

  &-period {
    font-size: .75rem;
    font-weight: 200;
  }

  &-company, &-institute {
    font-size: .8rem;
    font-weight: 200;
  }
}

.education {
  background: $white;

  &-blocks {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 2rem;

    .block {
      padding: .5rem 2rem .5rem 0;
      display: flex;
      flex-direction: column;
      margin-top: .5rem;
    }
  }

  &-institute {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 1rem;
    margin-left: auto;
    font-weight: 400;
  }

  .school {
    border-right: 1px solid $black;
  }
}