.page-grid {
  display: grid;
  grid-template-columns: 325px 1fr;
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem 0 1rem;
}

main {
  padding: 2rem 1rem 0 0;
}

.sticky-content {
  top: 0;
  width: 100%;
}

.new-page {
  padding: 0 3rem;
}

.content {
  position: relative;
  margin: 0 auto;
  display: flex;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1440px;
}

.portrait {
  max-width: 10rem;
  margin: 0 auto 2rem;
  border-radius: 50%;
  background: transparentize($black, .9);
  filter: brightness(130%);
}

.header {
  .content {
    padding-bottom: 2rem;
  }
}

.about {
  padding: 0;
  text-align: center;
  width: 100%;

  &-me {
    .content {
      padding-top: .5rem;
    }

    &-blocks .block {
      background: transparentize($black, .95);
      padding: .15rem .5rem;
      margin-bottom: 1.5rem;
    }
    &-blurb {
      font-size: .6rem;

      &::before, &::after {
        font-size: 1.15rem;
        color: $prim;
        font-family: Arial, Helvetica, sans-serif;
      }

      &::before {
        content: '“';
        margin-right: .5rem;
      }

      &::after {
        content: '”';
        margin-left: .5rem;
      }
    }
  }

  &-details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    margin: .25 auto;

    .block {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      background: transparentize($black, .95);
      padding: .75rem;
      border-bottom: 2px solid transparentize($black, .75);
    }

    a {
      color: inherit;
    }

    .lead-line {
      height: 1px;
      background: transparentize($black, .75);
      width: 100%;
      margin: 0 1rem;
    }

    span {
      font-family: $main;
      color: $black;
      font-weight: 400;
      text-transform: capitalize;
      font-size: .65rem;
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: .25rem;
      white-space: nowrap;

      i {
        font-size: .7rem;
        color: $prim;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        flex-shrink: 0;
      }
    }

    p {
      margin: 0 0 0 auto;
      justify-self: flex-end;
      text-align: right;
      font-size: .75rem;
      margin-right: 1rem;
      line-height: 1.1;
    }

  }
}

.career, .education {
  .lead {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin-bottom: -1rem;
    max-width: 100%;

    &-line {
      height: 1px;
      width: 1fr;
      background: transparentize($black, .75);
      margin: 0 .5rem;
    }
  }

  .content {
    padding: 0;
  }

  &-responsibilities {
    text-transform: capitalize;
    background: $black;
    color: $white;
    display: inline-block;
    margin: 0;
    padding: .1rem .3rem;
  }

  &-points {
    margin: 0;

    li {
      font-size: .85rem;
      margin-bottom: .25rem;
      list-style-type: circle;
      font-weight: 300;
    }
  }

  h2 {
    color: $black;
    font-size: 1.4rem;
    margin-bottom: .25rem;
    font-weight: 400;
    line-height: 1;
    position: relative;

    &:after {
      content: '';
      background: transparentize($black, .9);
      width: 120%;
      height: .5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  h4, h3 {
    font-size: .8rem;
    font-weight: 300;
    color: $black;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    line-height: 1;
  }

  h4 {
    font-weight: 200;
    margin-top: .25rem;
  }

  &-blocks {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    line-height: 1.5;

    .block {
      padding-bottom: .5rem;
    }
  }

  &-period {
    font-size: .75rem;
    font-weight: 300;
  }

  &-company, &-institute {
    font-size: .8rem;
    font-weight: 200;
    background: transparentize($black, .95);
    display: inline-flex;
    padding: 0 .15rem;
    margin: .75rem 0 .5rem;
  }
}

.education {
  background: $white;

  .content {
    padding: 0 0 1rem;
  }

  &-blocks {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;

    .block {
      padding: 0;
      margin-top: .5rem;
    }
  }

  &-points {
    margin: 0;
    padding-left: 1rem;

    li {
      list-style-type: none;
      &::before {
        content: '>';
        margin-right: .25rem;
        color: $prim;
      }
    }
  }
}

.skills {
  .content {
    padding: 0;
  }

  &-lists {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    grid-gap: .25rem;
  }

  &-list {
    list-style-type: none;
    padding: .5rem;
    margin: 0 0 1rem;
    font-size: .775rem;
    font-weight: 200;
    background: transparentize($black, .95);
    border-bottom: 2px solid transparentize($black, .75);

    &-item {
      &::before {
        content: '>';
        color: $prim;
        margin-right: .25rem;
      }
    }

    &-heading {
      font-weight: 400;
      margin-bottom: .25rem;
    }
  }
}