.wrapper {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  padding: 2rem 3rem;
  width: 100%;
}

.header {
  &-grid {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    min-height: 40rem;


    .logo {
      position: absolute;
      top: 2rem;
      left: 3rem;
      font-weight: 600;
      font-size: 2em;
      line-height: 1;
      padding: .3rem .5rem;
      color: $black;
      transform: rotate(180deg);
      letter-spacing: -6px;

      span {
        color: $prim;
      }
    }

    .wrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      flex-direction: column;
    }
  }
  &-details {
    background: $grey;
    padding-right: 6rem;
    color: $black;

  }
  &-profile {
    background: $grey_;
    overflow: hidden;
    nav > ul {
      position: absolute;
      top: 1rem;
      right: 2rem;
      display: flex;
      list-style-type: none;

      li > a {
        font-size: 14px;
        font-weight: 400;
        margin-left: 1rem;
        text-transform: uppercase;
        color: transparentize($black, .5);
        transition:
          background 300ms $ease,
          color 300ms $ease;
        padding: .4rem .8rem;

        &:hover {
          color: $black__;
        }

        &.hire {
          border-radius: 2px;
          background: $prim;
          color: $white;

          &:hover {
            background: $white;
            color: $prim;
          }
      }

      }
    }

    .headshot {
      border-radius: 50%;
    }
  }

}

main {
  min-height: 40em;
  background: $black;
  display: grid;
  grid-template-columns: 2fr 1.5fr;

  .alternate {
    background: $black;
  }

  .card {
    width: 100%;
    max-width: 30rem;
    margin: 4rem 0;
    color: $grey;
  }
}

.img-container {
  right: 0;
  bottom: 0;
  position: absolute;
  max-width: 27em;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 30em;
    height: 30em;
    background: $prim;
    border-radius: 50%;
  }

  img {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    right: 0;
    display: block;
    max-width: 100%;

  }
}

section {
  position: relative;
  padding: 3rem 0;

  &:after {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    content: '';
  }

  .container {
    padding: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

}

.skills {
  margin: 2rem 0;

  ul {
    list-style-type: none;
    display: flex;
    padding-left: .4rem;
  }

  li {
    margin-right: 1rem;
    font-size: 1.2rem;

    &:not(:last-child) {
      &:after {
        content: '\\';
        margin-left: .5rem;
        color: $prim;
      }
    }
  }
}

.contact {
  position: absolute;
  bottom: 3em;
  left: 3em;

  a {
    font-size: 20px;
    transition: color 300ms $ease;
    &:hover {
      color: $prim;
    }
  }

  ul {
    margin: .5em 0 0 .5em;
    padding: 0;
    display: flex;
    list-style-type: none;

    li {
      position: relative;
      padding: 0 1.5em 0 0;
      font-size: 16px;
      line-height: 1;
    }
  }
}