h1, h2, h3, h4 {
  margin: 0;
}

h1, h2 {
  font-family: $serif;
}

h3, h4 {
  font-family: $pop;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  color: $primary;
}

h3 {
  font-weight: 200;
  font-size: 1.25rem;
  color: $grey_dark;
}

p {
  font-family: $pop;
  font-weight: 300;
  font-size: .9rem;
}