h1, h2, h3, h4 {
    font-family: $type_headings;
    margin: 0;
    padding: 0;
    font-weight: 100;
    position: relative;
}

h1 {
    @extend .generic-type-transition;

    font-size: 7.5rem;
    text-align: center;
    background: $white;
    opacity: 0;
    filter: blur(4px);
    transform: scale(1.05);

    &.is-in-view {
        opacity: 1;
        filter: none;
        transform: none;
    }
}

h2 {
    @extend .generic-type-transition;
    @extend .underline;
    
    font-size: 5rem;
    opacity: 0;
    transform: translateY(.5rem);

    &.is-in-view {
        opacity: 1;
        transform: translateY(0rem);
    }
}

h3 {
    @extend .generic-type-transition;
    @extend .fat-underline;

    font-size: 1.2rem;
    font-family: $type_body;
    opacity: 0;
    transform: translateY(.5rem);
    line-height: 1.2;

    &.is-in-view {
        opacity: 1;
        transform: translateY(0rem);
    }
}

p {
    @extend .generic-type-transition;

    margin: .5rem 0 2.5rem 0;
    padding: 0 1rem;
    max-width: 30rem;
    line-height: 1.3;
    text-align: center;
    opacity: 0;
    transform: translateY(.5rem);

    &.is-in-view {
        opacity: 1;
        transform: translateY(0rem);
    }
}

span {
    @extend .fat-underline;

    position: relative;
    padding: .1rem .3rem;
    text-transform: uppercase;
}