h1, h2, h3, h4 {
  font-family: $pop;
  font-weight: 100;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 200
}

h2 {
  font-size: 1.25rem;
  font-weight: 200;
  color: $grey_dark;
}