// colors

$col_prm: #00CC66;
$col_sec: #FF6978;
$col_blk: #040404;
$col_wht: #FFFCF9;
$col_wht_alt: #f0eeec;
$col_gry: #61707D;

// easings

$ease: cubic-bezier(0.4, 0.0, 0.2, 1);
$in: cubic-bezier(0.0, 0.0, 0.2, 1);
$out: cubic-bezier(0.4, 0.0, 1, 1);

// sizes

$global_wrapper_width: 1240px;
