// colors

$grey: #354649;
$blue-light: #e1f4f3;
$black: #333333;
$white: #FFFFFF;

// easings

$ease: cubic-bezier(0.4, 0.0, 0.2, 1);
$in: cubic-bezier(0.0, 0.0, 0.2, 1);
$out: cubic-bezier(0.4, 0.0, 1, 1);

// sizes

$global_wrapper_width: 1240px;

// Typography

@font-face {
    font-family: 'argesta_displayregular';
    src: url('../fonts/argestadisplay-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'UniNeue Light';
    src: url('../fonts/UniNeue-Light.otf');
}

$serif: 'argesta_displayregular', sans-serif;

$sans-serif: 'UniNeue Light', sans-serif;

// weights

$normal: 400;
