doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="title" content="Evan Christians | Fullstack Developer")
    meta(name="description" content="Evan Christians is a Fullstack Web Developer, with expertise in database design, e-commerce and user experience design")

    link(rel="stylesheet" href="app/dist/css/main.css")
  body
    header
      .content
        img(image-source="app/dist/img/evan_t.png", alt="" class="portrait")
        h1 Evan Christians
        h3 Fullstack Web Developer
        .header-button let's talk
        ul.header-icons
          li
            a(href="")
              i.fa.fa-github
          li
            a(href="")
              i.fa.fa-linkedin
          li
            a(href="")
              i.fa.fa-xing
    main
      section.about
        .content
          h2 About Me
          .about-details
            .block
              span 
                i.fas.fa-map-marker-alt
                .lead-line
                | Address
              p 25 Bowden Rd, Observatory, Cape Town, 7925
            .block
              span
                i.fas.fa-mobile
                .lead-line
                | Cellphone
              p +27 81 384 1158
            .block
              span
                i.fas.fa-envelope
                .lead-line
                | Email
              p
                a(href="mailto:evanryk@gmail.com") evanryk@gmail.com
            .block
              span
                i.fas.fa-calendar-day
                .lead-line
                | Date of Birth
              p 19 October 1997
      section.career
        .content
          h3 career
          h2 Experience

          .career-blocks
            .block
              .lead
                h3 Junior Web Developer
                .lead-line
                p.career-period July 2019 - Present
              p.career-company Lima Bean
              p.career-role Building features and maintaining code bases for our client' various ecommerce sites. Specializing in CakePHP javascript CSS & VueJs
            .block
              .lead
                h3 Junior Web Developer (Contracted)
                .lead-line
                p.career-period November 2019 - March 2020
              p.career-company NTT (via Lima Bean)
              p.career-role Building features and maintaining code bases for our client' various ecommerce sites. Specializing in CakePHP javascript CSS & VueJs
            .block
              .lead
                h3 Intern Web Developer
                .lead-line
                p.career-period March 2019 - July 2019
              p.career-company Lima Bean
              p.career-role Building features and maintaining code bases for our client' various ecommerce sites. Specializing in CakePHP javascript CSS & VueJs
  script(src="app/dist/scripts/main.js")
  script(src="https://kit.fontawesome.com/ce5d40ef27.js" crossorigin="anonymous")
