doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="title" content="Evan Christians | Fullstack Developer")
    meta(name="description" content="Evan Christians is a Fullstack Web Developer, with expertise in database design, e-commerce and user experience design")

    link(rel="stylesheet" href="app/dist/css/main.css")
  body
    .page-grid
      aside
        .sticky-content
          section.header
            .content
              img(image-source="app/dist/img/evan_t.png", alt="" class="portrait")
              h1 Evan Christians
              h3 Fullstack Web Developer
              //- .header-button let's talk

          section.about
            //- h2 About Me
            .about-details
              .block
                span Address
                  .lead-line
                  i.fas.fa-address-card
                p 25 Bowden Rd<br/> Observatory<br/> Cape Town<br/> 7925
              .block
                span Cellphone
                  .lead-line
                  i.fas.fa-phone
                p +27 (0) 81 384 1158
              .block
                span Email
                  .lead-line
                  i.fas.fa-envelope
                p
                  a(href="mailto:evanryk@gmail.com") evanryk@gmail.com
              .block
                span Date of Birth
                  .lead-line
                  i.fas.fa-calendar-day
                p 19 October 1997
              .block
                span Place of Birth
                  .lead-line
                  i.fas.fa-map-pin
                p Cape Town, South Africa
              .block
                span Nationality
                  .lead-line
                  i.fas.fa-flag
                p South African
              .block
                span Github
                  .lead-line
                  i.fa.fa-github-alt
                p
                  a(href="https://github.com/evanchristians" target="_blank") github.com/evanchristians
              .block
                span Linkedin
                  .lead-line
                  i.fa.fa-linkedin
                p
                  a(href="https://www.linkedin.com/in/evan-christians-50ba30159/" target="_blank") linkedin.com/in/evan-christians-50ba30159
      main
        section.career
          .content
            h4 about
            h2 Profile

            .career-blocks
              .block
                p.career-role I am an experienced Full Stack Web Developer with a strong interest in delivering clean, easily maintainable code. Fully committed to an organizations vision and mission. Always eager to learn from anyone regardless of the type of work they are doing. I love challenging myself. I can work in a team and independently. I would love the opportunity to sit down and motivate why I should be considered.

        section.career
          .content
            h4 career
            h2 Experience

            .career-blocks
              .block
                .lead
                  h3 Junior Fullstack Developer
                  .lead-line
                  p.career-period Jul 2019 - Present
                p.career-company Lima Bean
                p.career-role My responsibilies as a junior developer are an extension of that of an intern developer at Lima Bean, with an emphasis on more accountability, greater attention to detail, ensuring my work is of high quality and abides by universal code standards and best practices and that I continue to push my technical prowess and expand my knowledge. I spend the time I've gained since improving my speed of development ensuring my code is easily maintainable and removing inconsistencies within our codebases.
                h5.career-responsibilities Responsibilities
                ul.career-points
                  li Using HTML5 & Pug to structure web pages symantically while employing optimal code standards.
                  li Building well-structured stylesheets with SCSS & LESS and a keen focus on maintainability, responsiveness and cross-browser compatibility.
                  li Developing performant interactive functionality into the front-end with JavaScript/JQuery.
                  li Writing server-side scripts in PHP, most often within the CakePHP framework.
                  li Creating reusable components for new features and existing feature refactoring.
                  li Integrating SOAP & REST into our systems following industry standards and focusing on holistic error handling and performance.
                  li Structuring MYSQL databases with coherent relationships and uniform naming conventions.
                  li Employing version control with deep GIT understanding and managing deployment pipelines on the Github, Gitlab and Bitbucket platforms.
                  li Reviewing commits and pull requests and Mentoring new developers.
                  li Providing support for clients and communicating to ensure the brief for tasks is clear and the client's requirements are met.

              .block
                .lead
                  h3 Junior Frontend Developer
                  .lead-line
                  p.career-period Nov 2019 - Jun 2020
                p.career-company Nippon Telegraph and Telephone (NTT) via Lima Bean
                p.career-role NTT is an international technology services company. During my time at NTT, I worked as part of the dev team responsibile for creating micro frontends, integrating their GraphQL data service & interacting with the highcharts api within Angular, using NGRX as a state management tool. The tasks performed contributed to the building of the sleek UI of the "Hardware as a Service" platform NTT had been developing. While my role was predominantly frontend focused I learnt a great deal about querying APIs with GraphQL and deploying mutliple apps independently from the same repository.
                h5.career-responsibilities Responsibilities
                ul.career-points
                  li Integrating the GraphQl API into various data visualisation components with ajax filtering updates.
                  li Testing and fixing cross-browser compatibility.
                  li Configuring HighCharts UI components to match the NTT brand theme.
                  li Debugging data integrity and component data handling.
                  li Building, refactoring and maintaining shared component libraries in Angular.
                  li Maintaining a persistent communication stream with QA testers to ensure project requirements are adequately met.
                  li Providing assistance across teams when sprint work is completed early.

              br
              br
              br
              br
    .new-page
      section.career
        .content
          h4 career
          h2 Experience

          .career-block
            .block
              .lead
                h3 Intern Fullstack Developer
                .lead-line
                p.career-period Mar 2019 - Jul 2019
              p.career-company Lima Bean
              p.career-role I joined Lima Bean in a team of highly skilled developers, as their most junior member, who guided me to be able to quickly adjust to the competitive and high-quality focused team dynamic. I learnt the great value of writing understandable, maintainable and standard practice abiding code, picking up many skills while on the endeavour to be able to write code of such quality. I spent my first months working on many different projects and as a result have developed the skill of quickly learning new frameworks and patterns and adjusting my style of code to suite the defined standard of the project, while learning to make subtle adjustments to reduce inconsistencies and minor inefficiencies.
              h5.career-responsibilities Responsibilities
              ul.career-points
                li Maintaining features in many e-commerce websites managed by Lima Bean.
                li Fixing cross-browser compatitbility issues.
                li Investigating logic failures and data inconsistencies.
                li Assisting in building new functionality.
                li Supporting more senior developers when there is an increased workload.

      section.education
        .content
          h4 career
          h2 Education

          .education-blocks
            section.school
              .block
                .lead
                  h3 Introduction to Web Development Course
                  .lead-line
                  p.education-period Sep 2018 - Mar 2019
                p.education-institute Salesians Life Choices (Taught by Codespace)
              .block
                .lead
                  h3 Bachelor of Business Science - Actuarial Science (Incomplete)
                  .lead-line
                  p.education-period 2017
                p.education-institute The University of Cape Town
            section.achievements
              h3
                em Achievements
              .block
                .lead
                  h3 UCT Mathematics Olympiad Finalist (Partners)
                  .lead-line
                  p.education-period 2016
                p.education-institute The University of Cape Town
              .block
                .lead
                  h3 Eskom High School Science Fair Silver Medalist
                  .lead-line
                  p.education-period 2015
                p.education-institute Eskom
  script(src="app/dist/scripts/main.js")
  script(src="https://kit.fontawesome.com/ce5d40ef27.js" crossorigin="anonymous")