doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= pageTitle

    link(rel="stylesheet", href="app/dist/css/main.css")
  body
    header 
      h1(scrolly) Evan Ryklieff
      span(scrolly) Junior Fullstack Developer
    main
      section
        .overlay(scrolly)
        h2(scrolly) This Is A Section
        p(scrolly) Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, voluptatibus.
        - var i = 0
        .griddy(scrolly)
          while i < 12
            .item(item-text=`item #${i}`)
              img(image-source=`https://unsplash.it/300/${230 + i}`, alt="Source: Unsplash.it")
            - i++
      section
        h2(scrolly) This Is Another Section!
        h3(scrolly) This one has a subtitle 
  script(src="app/dist/scripts/main.js")

