doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= pageTitle

    link(rel="stylesheet", href="app/dist/css/main.css")
  body
    header 

    main
      h1 Bewerbungsmappe
      //- img.headshot(image-source="app/dist/img/pp.jfif", alt="Maike Erb")
  script(src="app/dist/scripts/main.js")
  script(src="https://use.fontawesome.com/d7c13791d9.js")

