doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Evan Christians | Full Stack Web Developer
    meta(name="title" content="Evan Christians | Full Stack Web Developer")
    meta(name="description" content="I'm Evan, a developer with a passion for learning and building sleek, functional applications with experience in full stack web development.")
    meta(property="og:image" content="https://resume.evanchristians.co.za/public/img/rounded-min.png")
    link(rel="stylesheet" href="public/css/main.css")
    link(rel="icon" type="image/png" href="https://resume.evanchristians.co.za/public/img/favicon.ico")
  body
    .page-grid
      aside
        .sticky-content
          section.header
            .content
              img(image-source="public/img/evan_t-min.png", alt="" class="portrait")
              h1 Evan Christians
              h3 Full Stack Web Developer

          section.about
            .about-details
              .block
                span Address
                  .lead-line
                  i.fas.fa-address-card
                p 25 Bowden Rd<br/> Observatory<br/> Cape Town<br/> 7925
              .block
                span Cellphone
                  .lead-line
                  i.fas.fa-phone
                p +27 (0) 81 384 1158
              .block
                span Email
                  .lead-line
                  i.fas.fa-envelope
                p
                  a(href="mailto:evanryk@gmail.com") evanryk@gmail.com
              .block
                span Date of Birth
                  .lead-line
                  i.fas.fa-calendar-day
                p 19 October 1997
              .block
                span Place of Birth
                  .lead-line
                  i.fas.fa-map-pin
                p Cape Town, South Africa
              .block
                span Nationality
                  .lead-line
                  i.fas.fa-flag
                p South African
              .block
                span Github
                  .lead-line
                  i.fa.fa-github-alt
                p
                  a(href="https://github.com/evanchristians" target="_blank") github.com/evanchristians
              .block
                span Linkedin
                  .lead-line
                  i.fa.fa-linkedin
                p
                  a(href="https://www.linkedin.com/in/evanchristians/" target="_blank") linkedin.com/in/evanchristians
      main
        section.about-me
          .content
            .about-me-blocks
              .block
                //- p.about-me-blurb.centered Developer with a passion for learning, building sleek applications and experience in Full Stack development.
        section.skills
          .content
            //- h2 Skills

            .skills-lists
              ul.skills-list
                li.skills-list-heading Frontend
                li.skills-list-item HTML5/XML/PUG
                li.skills-list-item CSS3/SASS/SCSS
                li.skills-list-item JavaScript/TypeScript
                li.skills-list-item Gulp/Grunt
              ul.skills-list
                li.skills-list-heading Backend
                li.skills-list-item PHP/NodeJs
                li.skills-list-item MySQL/PostgreSQL
                li.skills-list-item REST/GraphQL
                li.skills-list-item Apache/Express
              ul.skills-list
                li.skills-list-heading Environment
                li.skills-list-item (Arch) Linux
                li.skills-list-item Docker
                li.skills-list-item NVM/JVM
              ul.skills-list
                li.skills-list-heading Frameworks
                li.skills-list-item Cakephp
                li.skills-list-item Vue/Angular/React
                li.skills-list-item Foundation
              ul.skills-list
                li.skills-list-heading Version Control
                li.skills-list-item Git
                li.skills-list-item Github/Gitlab
                li.skills-list-item Jira/Bitbucket
        section.career
          .content
            h4 career
            h2 Professional Experience

            .career-blocks
              .block
                .lead
                  h3
                    em.num 1
                    | Junior Full Stack Developer
                  .lead-line
                  p.career-period Jul 2019 - Present
                p.career-company Lima Bean &mdash; Observatory, Cape Town, ZA
                ul.career-points
                  li Dispatched and maintained features for many of the websites managed by Lima Bean interacting with data from various SOAP/REST API's and SQL Databases.
                  li Converted designs to sleek, functional and responsive web pages employing the use of concise stylesheets and semantic markup.
                  li Investigated bugs and patched failure causes.
                  li Mentored newer developers and ensured codebases remained consistent and standards were met before approving code reviews.

              .block
                .lead
                  h3
                    em.num 2
                    | Junior Frontend Developer
                  .lead-line
                  p.career-period Nov 2019 - Jun 2020
                p.career-company Nippon Telegraph and Telephone (NTT) via Lima Bean &mdash; Woodstock, Cape Town, ZA
                ul.career-points
                  li Built interactive data visualization components on Angular micro frontends from design and integrated dynamic data from a GraphQL API and NGRX data store.
                  li Merged and co-authored shared components while following and building upon the standards defined in the company's existing Angular component library.
                  li Configured the frontend to match the NTT brand theme while ensuring styles are not repeated.
                  li Debugged data integrity and component data handling.
                  li Coded test cases in Jasmine for component logic as a quality assurance measure.

              .block
                .lead
                  h3
                    em.num 3
                    | Intern Full Stack Developer
                  .lead-line
                  p.career-period Mar 2019 - Jul 2019
                p.career-company Lima Bean &mdash; Observatory, Cape Town, ZA
                ul.career-points
                  li Maintained features.
                  li Debugged and repaired cross-browser compatibility issues.
                  li Investigated logic failures and data inconsistencies.
                  li Assisted in building new functionality.
                  li Supported senior developers when there was an increased workload.

          section.education
            .content
              //- h4 career
              h2 Education

              .education-blocks
                section.school
                  .block
                    .lead
                      h3
                        em.num 1
                        | Introduction to Web Development &mdash; Bootcamp
                      .lead-line
                      p.education-period Sep 2018 - Mar 2019
                    p.education-institute Salesians Life Choices (Taught by Codespace)
                    ul.education-points
                      li Learnt the basics of Web Development and Source Control in HTML/JavaScript/CSS/PHP/MySQL/Git.
                  .block
                    .lead
                      h3
                        em.num 2
                        | Bachelor of Business Science - Actuarial Science (Incomplete)
                      .lead-line
                      p.education-period 2017
                    p.education-institute The University of Cape Town
                    ul.education-points
                      li Partook in an introductory course for programming in Python.

                section.achievements
                  h3
                    em Achievements
                  .block
                    .lead
                      h3
                        em.num 1
                        | UCT Mathematics Olympiad Finalist (Grade 12: Pairs)
                      .lead-line
                      p.education-period 2016
                    p.education-institute The University of Cape Town
                    ul.education-points
                      li Tested my ability to think critically under time constraints for problem solving and pattern recognition.

                  .block
                    .lead
                      h3
                        em.num 2
                        | Eskom High School Science Fair Silver Medalist
                      .lead-line
                      p.education-period 2015
                    p.education-institute Eskom
                    ul.education-points
                      li Studied the relationship between the frequency range of hearing and age.

  script(src="public/scripts/main.js")
  script(src="https://kit.fontawesome.com/ce5d40ef27.js" crossorigin="anonymous")