doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= pageTitle

    link(rel="stylesheet", href="app/dist/css/main.css")
  body
    header 
      h1(scrolly) Evan Ryklieff
      span(scrolly) Junior Fullstack Developer
    main
      section
        .container
          h2(scrolly) This Is A Section
          p(scrolly) Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, voluptatibus.
          - var i = 0
          .griddy
            while i < 12
              .item(item-text=`item #${i}` scrolly)
                img(image-source=`https://unsplash.it/500/${500 + i}`, alt="Source: Unsplash.it" scrolly)
              - i++ 
  script(src="app/dist/scripts/main.js")

