doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="title" content="Evan Christians | Fullstack Developer")
    meta(name="description" content="Evan Christians is a Fullstack Web Developer, with expertise in database design, e-commerce and user experience design")

    link(rel="stylesheet" href="app/dist/css/main.css")
  body
    header.header-grid
      .wrapper.header-details
        h1 Evan Christians
        h2 Fullstack Developer
        .contact
          ul
            li
              a(href="http://")
                i(class="fab fa-github")
            li
              a(href="http://")
                i(class="fab fa-codepen")
            li
              a(href="http://")
                i(class="fab fa-linkedin-in")
            li
              a(href="http://")
                i(class="fas fa-at")
      .wrapper.header-profile
        .img-container
          img(image-source="app/dist/img/evan.jpg" alt="Evan Christians | Junior Fullstack Developer")
    main
  script(src="app/dist/scripts/main.js")
  script(src="https://kit.fontawesome.com/ce5d40ef27.js" crossorigin="anonymous")
