doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title= pageTitle

    link(rel="stylesheet" href="app/dist/css/main.css")
  body
    header
      h1(scrolly) Maike Erb
    main
      section(class="is-smaller")
        .headshot
          img(image-source="app/dist/img/ppp.png" alt="Maike Erb")
      section(class="details")
        .container.personal
          h3(scrolly) Persönliche daten
          p(scrolly)
            span Vorname
            | Maike Noemi Gesine
          p(scrolly)
            span Nachname
            | Erb
          p(scrolly)
            span Adresse
            | Honoldweg 6<br/>70193 Stuttgart
          p(scrolly)
            span Telefon-Nummer
            | 0711-634659
          p(scrolly)
            span E-Mail
            a(href="mailto:maikeerb72@gmail.com") maikeerb72@gmail.com
          p(scrolly)
            span Staatsangehörigkeit
            | Deutsch
          p(scrolly)
            span Geburtstag
            | 05 &middot; Jan &middot; 2001
            i(class="fas fa-calendar-alt")
          p(scrolly)
            span Geburtsort
            | Reutlingen

      section(class="span-2")
        h3(scrolly)  Praktika
        .container.kentnisse.alt
          div
            h2(scrolly)  Pflegepraktikum
            ul
              li Gynäkologie, Marienhospital
                span 16 Nov 2020 - 17 Dez 2020
              li Palliativstation, Robert-Bosch-Krankenhaus
                span 07 Sept 2020 - 06 Okt 2020
          div
            h2(scrolly)  Praktikum im Bereich der Psychosomatik
            ul
              li Psychosomatik/Psychoonkologie (Tagesklinik und psychoonkologischer Liaisondienst)<br/> Robert-Bosch-Krankenhaus
              span 06 Jul 2020 - 31 Jul 2020

        h3(scrolly) Freiwilligendienst
        .container
          p(scrolly)
            span Entsendeorganisation
            | Fachstelle für Internationale Freiwilligendienste, Diözese Freiburg
          p(scrolly)
            span Einsatzstelle
            | Life Choices, Lansdowne, Kapstadt, Südafrika
          p(scrolly)
            span Eingesetzt in den Bereichen
            | Gesundheitsberatung / HIV-Testung <br/> Life Coaching in High Schools
          p(scrolly)
            span Zeitspanne
            | Aug 2019 - Aug 2020<br/>(Rückflug nach Deutschland erfolgte aufgrund der Corona-Krise verfrüht am 20 Mrz 2020)

        h3(scrolly) Schullaufbahn
        .container
          p(scrolly)
            span Schulabschluss Abitur
            | 2019
          p(scrolly)
            span Gymnasium<b> | </b>St. Agnes, Stuttgart
            | Sept&nbsp;2011&nbsp;-&nbsp;Jul&nbsp;2019
          p(scrolly)
            span High School<b> | </b>Delta Secondary School, Ladner, Kanada
            | Jan&nbsp;-&nbsp;Jul&nbsp;2017
          p(scrolly)
            span Grundschule<b> | </b>Kleiner Sonniger Winkel, Stuttgart
            | Sept&nbsp;2007&nbsp;-&nbsp;Jul&nbsp;2011

        h3(scrolly) Schul-Arbeitsgemeinschaft / Engagement
        .container
          p(scrolly)
            span Schreibwerkstatt
            | 2018 - 2019
          p(scrolly)
            span Theater
            | 2017 - 2019
          p(scrolly)
            span Debating
            | 2015 - 2016
          p(scrolly)
            span Chor
            | 2011 - 2012
          <br/>
          p(scrolly)
            span Klassensprecherin
            | 2014 - 2016
          p(scrolly)
            span Kostenlose Nachhilfe im Kinderheim St.Josef
            | 2014 - 2015

        //- h3(scrolly) Hobbies / Aktivitäten
        //- .container
        //-   ul
        //-     li Lesen
        //-     li Geige & Ukulele spielen
        //-     li Babysitten
        //-     li Schwimmen
        //-     li Wandern
        //-     li Skifahren
        //-     li Tennis

        h3(scrolly) Kenntnisse
        .container.kentnisse
          div
            h2(scrolly) SPRACHEN
            ul
              li Englisch (fließend)
              li Französisch
              li Latein
          div
            h2(scrolly) COMPUTER KENNTNISSE
            ul
              li MS Office Word
              li PowerPoint

  script(src="app/dist/scripts/main.js")
  script(src="https://use.fontawesome.com/d7c13791d9.js")

